Repository aaronbassett/VibeTea: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --check
      stage_fixed: true

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings

    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm lint

    client-typecheck:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm typecheck

    client-format:
      root: "client/"
      glob: "*.{ts,tsx,css}"
      run: cd client && pnpm format:check

pre-push:
  parallel: true
  commands:
    rust-test:
      glob: "*.rs"
      run: cargo test

    client-test:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm test

fix(monitor): address clippy clone_on_copy warning
  monitor/src/tui/input.rs
Due: rust-fmt, rust-clippy

docs(monitor): initialize phase 6 retro
  specs/003-monitor-tui/retro/P6.md
Due: none

feat(monitor): add Theme and Symbols configuration
  monitor/src/tui/app.rs
  monitor/src/tui/mod.rs
  specs/003-monitor-tui/tasks.md
Due: rust-fmt, rust-clippy

docs: update codebase docs and mark T151-T152 complete
  specs/003-monitor-tui/tasks.md
Due: none

docs(monitor): mark Phase 3 complete in tasks.md
  specs/003-monitor-tui/tasks.md
Due: none

docs(monitor): finalize phase 5 retro
  specs/003-monitor-tui/retro/P5.md
  specs/003-monitor-tui/tasks.md
Due: none

docs(monitor): initialize phase 10 retro
  specs/003-monitor-tui/retro/P10.md
  specs/003-monitor-tui/tasks.md
Due: none

docs: mark phase 10 codebase mapping tasks complete
  specs/003-monitor-tui/tasks.md
Due: none

docs: complete phase 9 - all tasks done
  specs/003-monitor-tui/tasks.md
Due: none

docs(codebase): update codebase documents for phase 9
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/TESTING.md
Due: none

feat(monitor): integrate logo into header
  monitor/src/tui/ui.rs
  monitor/src/tui/widgets/header.rs
Due: rust-fmt, rust-clippy

docs(monitor): initialize phase 11 retro
  specs/003-monitor-tui/retro/P11.md
Due: none

docs: mark phase 9 tasks complete
  specs/003-monitor-tui/tasks.md
Due: none

docs(monitor): finalize phase 10 retro
  specs/003-monitor-tui/retro/P10.md
  specs/003-monitor-tui/tasks.md
Due: none

docs(monitor): finalize phase 9 retro
  specs/003-monitor-tui/retro/P9.md
  specs/003-monitor-tui/tasks.md
Due: none

feat(monitor): add VibeTea ASCII logo widget
  monitor/src/tui/widgets/logo.rs
  monitor/src/tui/widgets/mod.rs
Due: rust-fmt, rust-clippy

style(monitor): fix formatting
  monitor/src/tui/ui.rs
  monitor/src/tui/widgets/header.rs
  monitor/src/tui/widgets/logo.rs
  monitor/src/tui/widgets/mod.rs
Due: rust-fmt, rust-clippy

docs: complete phase 10 - all tasks done
  specs/003-monitor-tui/tasks.md
Due: none

fix(monitor): allow clone_on_copy in test
  monitor/src/tui/widgets/logo.rs
Due: rust-fmt, rust-clippy

feat(monitor): make TUI default mode, preserve CLI subcommands
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

feat(monitor): add terminal size warning widget
  monitor/src/tui/widgets/mod.rs
  monitor/src/tui/widgets/size_warning.rs
Due: rust-fmt, rust-clippy

docs: update CLAUDE.md with TUI feature documentation
  CLAUDE.md
Due: none

docs(tasks): verify TUI performance settings
  specs/003-monitor-tui/tasks.md
Due: none

feat(monitor): integrate TUI with signal handlers
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

feat(monitor): add NO_COLOR environment variable support
  monitor/src/tui/app.rs
  monitor/src/tui/mod.rs
Due: rust-fmt, rust-clippy

docs(tasks): mark documentation and quickstart validation complete
  specs/003-monitor-tui/tasks.md
Due: none

docs(monitor): document NFR-005 logging suppression in TUI mode
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

docs(monitor): finalize phase 11 retro
  specs/003-monitor-tui/retro/P11.md
  specs/003-monitor-tui/tasks.md
Due: none

fix(monitor): remove clone_on_copy clippy warning
  monitor/src/tui/widgets/size_warning.rs
Due: rust-fmt, rust-clippy

docs(codebase): update codebase documents for phase 11
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
Due: none

docs: complete phase 11 - all tasks done
  specs/003-monitor-tui/tasks.md
Due: none

feat(monitor): support enhanced tracking event types in TUI
  monitor/src/tui/app.rs
  monitor/src/tui/widgets/event_stream.rs
Due: rust-fmt, rust-clippy

feat(monitor): TUI interface - Phases 1-11 Complete (#5)
  .gitignore
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
  CLAUDE.md
  Cargo.lock
  monitor/Cargo.toml
  monitor/src/crypto.rs
  monitor/src/error.rs
  monitor/src/lib.rs
  monitor/src/main.rs
  monitor/src/sender.rs
  monitor/src/tui/app.rs
  monitor/src/tui/input.rs
  monitor/src/tui/mod.rs
  monitor/src/tui/terminal.rs
  monitor/src/tui/ui.rs
  monitor/src/tui/widgets/credentials.rs
  monitor/src/tui/widgets/event_stream.rs
  monitor/src/tui/widgets/header.rs
  monitor/src/tui/widgets/logo.rs
  monitor/src/tui/widgets/mod.rs
  monitor/src/tui/widgets/setup_form.rs
  monitor/src/tui/widgets/size_warning.rs
  monitor/src/tui/widgets/stats_footer.rs
  specs/003-monitor-tui/retro/P10.md
  specs/003-monitor-tui/retro/P11.md
  specs/003-monitor-tui/retro/P2.md
  specs/003-monitor-tui/retro/P3.md
  specs/003-monitor-tui/retro/P4.md
  specs/003-monitor-tui/retro/P5.md
  specs/003-monitor-tui/retro/P6.md
  specs/003-monitor-tui/retro/P7.md
  specs/003-monitor-tui/retro/P8.md
  specs/003-monitor-tui/retro/P9.md
  specs/003-monitor-tui/tasks.md
Due: rust-fmt, rust-clippy

style: fix formatting in Rust and TypeScript files
  client/src/components/EventStream.stories.tsx
  client/src/components/Heatmap.stories.tsx
  client/src/components/SessionOverview.stories.tsx
  client/src/components/graphs/EventDistributionChart.stories.tsx
  monitor/src/tui/app.rs
  monitor/src/tui/widgets/event_stream.rs
Due: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

fix(client): lower Lighthouse performance threshold to 70%
  client/lighthouserc.cjs
Due: none

docs: add supabase auth specs
  specs/002-supabase-auth/checklists/requirements.md
  specs/002-supabase-auth/contracts/auth-api.yaml
  specs/002-supabase-auth/contracts/public-keys-function.yaml
  specs/002-supabase-auth/data-model.md
  specs/002-supabase-auth/plan.md
  specs/002-supabase-auth/quickstart.md
  specs/002-supabase-auth/research.md
  specs/002-supabase-auth/spec.md
  specs/002-supabase-auth/tasks.md
Due: none

chore: add deployment configuration and update codebase docs
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
  CLAUDE.md
  Dockerfile
  fly.toml
  ralph.toml
Due: none

feat: setup Supabase client and configuration (Phase 1)
  client/.env.example
  client/package.json
  client/pnpm-lock.yaml
  client/src/services/supabase.ts
  client/src/vite-env.d.ts
  server/.env.example
  server/src/config.rs
  server/src/routes.rs
  server/tests/unsafe_mode_test.rs
Due: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

feat(supabase): add public_keys migration and edge function
  specs/002-supabase-auth/retro/P2.md
  supabase/functions/public-keys/index.ts
  supabase/migrations/001_public_keys.sql
Due: none
