Repository aaronbassett/VibeTea: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --check
      stage_fixed: true

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings

    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm lint

    client-typecheck:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm typecheck

    client-format:
      root: "client/"
      glob: "*.{ts,tsx,css}"
      run: cd client && pnpm format:check

pre-push:
  parallel: true
  commands:
    rust-test:
      glob: "*.rs"
      run: cargo test

    client-test:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm test

fix: format Rust code and remove unused TypeScript import
  client/src/__tests__/App.test.tsx
  monitor/src/main.rs
  monitor/src/watcher.rs
Due: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

fix: suppress clippy enum_variant_names and fix vitest config
  client/vite.config.ts
  monitor/src/watcher.rs
Due: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

docs: add comprehensive repository documentation
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

docs: refresh codebase mapping documentation
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

docs(readme): fix authentication documentation
  README.md
Due: none

fix(client): add VITE_WS_URL env var for remote server connection
  client/.env.example
  client/src/hooks/useWebSocket.ts
Due: client-lint, client-typecheck, client-format

fix(client): add vite-env.d.ts for ImportMeta.env types
  client/src/vite-env.d.ts
Due: client-lint, client-typecheck, client-format

chore: add .worktrees to gitignore
  .gitignore
Due: none

feat(supabase): initialize supabase project
  supabase/.gitignore
  supabase/config.toml
Due: none

feat(monitor): create trackers module directory
  monitor/src/trackers/.gitkeep
Due: none

feat(config): add environment configuration templates
  client/.env.example
  monitor/.env.local.example
  supabase/.env.local.example
Due: none

feat(monitor): add KeySource enum for key origin tracking
  monitor/src/crypto.rs
Due: rust-fmt, rust-clippy

feat(monitor): add trackers module structure
  monitor/src/lib.rs
  monitor/src/trackers/.gitkeep
  monitor/src/trackers/mod.rs
Due: rust-fmt, rust-clippy

feat(monitor): add public_key_fingerprint method
  monitor/src/crypto.rs
Due: rust-fmt, rust-clippy

chore(retro): initialize phase 2 retrospective
  retro/P2.md
Due: none

feat(db): add events table migration
  supabase/migrations/20260203000000_create_events_table.sql
Due: none

feat(db): add database functions for bulk insert and aggregation
  supabase/migrations/20260203000001_create_functions.sql
Due: none

feat(types): add HourlyAggregate type for historic data
  client/src/types/events.ts
Due: client-lint, client-typecheck, client-format

feat(auth): add shared auth utility for edge functions
  supabase/functions/_shared/auth.ts
Due: none

docs: update codebase documents for Phase 2
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
Due: none

docs: finalize phase 2 retrospective
  retro/P2.md
Due: none

feat(types): add enhanced data tracking event types
  monitor/src/privacy.rs
  monitor/src/types.rs
  server/src/broadcast.rs
  server/src/types.rs
Due: rust-fmt, rust-clippy

docs: initialize phase 3 retrospective
  retro/P3.md
Due: none

docs(sdd): update codebase documents for phase 2
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
Due: none

chore(retro): finalize phase 2 retrospective
  retro/P2.md
Due: none

test(monitor): add env var key loading tests (expecting failures)
  monitor/tests/env_key_test.rs
Due: rust-fmt, rust-clippy

feat(client): add enhanced data tracking event types
  client/src/components/EventStream.tsx
  client/src/components/SessionOverview.tsx
  client/src/hooks/useEventStore.ts
  client/src/types/events.ts
Due: client-lint, client-typecheck, client-format

style: fix formatting in monitor, server, and client
  client/src/components/EventStream.tsx
  client/src/components/SessionOverview.tsx
  client/src/hooks/useEventStore.ts
  client/src/types/events.ts
  monitor/src/types.rs
  server/src/types.rs
Due: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

chore(retro): initialize phase 3 retrospective
  retro/P3.md
Due: none

feat(monitor): implement load_from_env for VIBETEA_PRIVATE_KEY
  monitor/src/crypto.rs
Due: rust-fmt, rust-clippy

refactor(monitor): rename load_with_env to load_with_fallback
  monitor/src/crypto.rs
  monitor/tests/env_key_test.rs
Due: rust-fmt, rust-clippy

feat(edge): scaffold edge function structures
  supabase/functions/ingest/index.ts
  supabase/functions/query/index.ts
Due: none

ci: add edge function tests to CI workflow
  .github/workflows/ci.yml
Due: none

feat(edge): implement authentication for both edge functions
  retro/P3.md
Due: none

chore: initialize phase 2 retro
  retro/P2.md
Due: none

feat(monitor): use load_with_fallback in run command
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

feat(ingest): add request body validation
  supabase/functions/ingest/index.ts
Due: none

feat(query): add query parameter validation
  supabase/functions/query/index.ts
Due: none

security(monitor): zero intermediate key material buffers (FR-020)
  Cargo.toml
  monitor/Cargo.toml
  monitor/src/crypto.rs
Due: rust-fmt, rust-clippy
