Repository aaronbassett/VibeTea: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

rust-fmt:
  run: cargo fmt --check
  stage_fixed: true

rust-clippy:
  run: cargo clippy --all-targets -- -D warnings

client-lint:
  run: cd client && pnpm lint

client-typecheck:
  run: cd client && pnpm typecheck

client-format:
  run: cd client && pnpm format:check

chore(retro): finalize phase 4 retrospective
  retro/P4.md
Due: none

docs: initialize phase 5 retro
  retro/P5.md
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

style(monitor): apply rustfmt formatting
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

feat(monitor): add skill_tracker tests and HistoryEntry struct
  monitor/src/trackers/mod.rs
  monitor/src/trackers/skill_tracker.rs
  specs/005-monitor-enhanced-tracking/tasks.md
Due: rust-fmt, rust-clippy

docs(retro): initialize phase 5 retrospective
  retro/P5.md
Due: none

feat(monitor): implement skill_tracker file watching
  monitor/src/trackers/skill_tracker.rs
  specs/005-monitor-enhanced-tracking/tasks.md
Due: rust-fmt, rust-clippy

test(query): add integration tests for HourlyAggregate response
  supabase/functions/query/index.test.ts
Due: none

feat(monitor): wire skill_tracker to main event loop
  monitor/src/main.rs
  specs/005-monitor-enhanced-tracking/tasks.md
Due: rust-fmt, rust-clippy

docs: confirm client skill_invocation handler already implemented
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

feat(client): add historic data state to EventStore
  client/src/hooks/useEventStore.ts
Due: client-lint, client-typecheck, client-format

feat(client): implement fetchHistoricData with bearer auth
  client/src/hooks/useEventStore.ts
Due: client-lint, client-typecheck, client-format

feat(client): create useHistoricData hook with stale-while-revalidate caching
  .gitignore
  client/src/hooks/useHistoricData.ts
Due: client-lint, client-typecheck, client-format

docs: initialize phase 4 retrospective
  retro/P4.md
Due: none

chore(tasks): sync tasks.md with actual implementation progress
  specs/001-supabase-persistence/tasks.md
Due: none

docs: update codebase documents for phase 5 skill_tracker
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

test(monitor): add export-key integration tests (expecting failures)
  monitor/tests/key_export_test.rs
Due: rust-fmt, rust-clippy

docs: finalize phase 5 retro with implementation learnings
  retro/P5.md
Due: none

test(client): add MSW handlers for query edge function
  client/package-lock.json
  client/package.json
  client/src/mocks/data.ts
  client/src/mocks/handlers.ts
  client/src/mocks/index.ts
  client/src/mocks/server.ts
  specs/001-supabase-persistence/tasks.md
Due: client-lint, client-typecheck, client-format

feat(monitor): add export-key command for GitHub Actions
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

docs: update codebase documents for phase 5 skill_tracker
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/TESTING.md
Due: none

docs: update codebase documents for phase 4
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

docs: mark phase 5 tasks T106-T109 complete
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

docs: finalize phase 4 retrospective
  retro/P4.md
Due: none

docs: mark phase 5 completion tasks done
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

docs: initialize phase 6 retro for todo progress tracking
  retro/P6.md
Due: none

docs: initialize phase 5 retrospective
  retro/P5.md
Due: none

test: add todo_tracker unit tests (T118-T120)
  monitor/src/trackers/mod.rs
  monitor/src/trackers/todo_tracker.rs
Due: rust-fmt, rust-clippy

docs: add GitHub Actions setup section to README
  README.md
Due: none

ci: add example workflow with VibeTea monitoring
  .github/workflows/ci-with-monitor.yml
Due: none

feat: implement todo_tracker file watching (T124)
  monitor/src/trackers/todo_tracker.rs
Due: rust-fmt, rust-clippy

docs: update codebase documents for phase 5
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

docs: finalize phase 5 retrospective
  retro/P5.md
Due: none

feat: wire todo_tracker to main monitor (T130)
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

docs: mark phase 6 tasks T114-T135 complete
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

docs: update phase 6 retro with implementation learnings
  retro/P6.md
Due: none

docs: update tasks.md with completed Phase 5 tasks
  specs/004-monitor-gh-actions/tasks.md
Due: none

docs: mark Phase 5 completion tasks as done
  specs/004-monitor-gh-actions/tasks.md
Due: none

docs: update codebase documents for phase 6 todo_tracker
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

docs: mark phase 6 documentation tasks complete
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

docs: initialize phase 6 retrospective
  retro/P6.md
  specs/004-monitor-gh-actions/tasks.md
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-clippy: any of: *.rs
  client-lint: any of: *.{ts,tsx} and ^client/
  client-typecheck: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx,css} and ^client/
