Repository aaronbassett/VibeTea: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --check
      stage_fixed: true

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings

    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm lint

    client-typecheck:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm typecheck

    client-format:
      root: "client/"
      glob: "*.{ts,tsx,css}"
      run: cd client && pnpm format:check

pre-push:
  parallel: true
  commands:
    rust-test:
      glob: "*.rs"
      run: cargo test

    client-test:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm test

docs: add SDD specification documents
  specs/001-vibetea/checklists/requirements.md
  specs/001-vibetea/contracts/openapi.yaml
  specs/001-vibetea/data-model.md
  specs/001-vibetea/plan.md
  specs/001-vibetea/quickstart.md
  specs/001-vibetea/research.md
  specs/001-vibetea/spec.md
Due: none

chore: add GitHub workflows and SDD codebase documents
  .github/workflows/ci.yml
  .sdd/codebase/STACK.md
  .sdd/memory/constitution.md
Due: none

chore: ignore TypeScript build artifacts
  .gitignore
Due: none

docs: add planning and codebase documents for Phase 2
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
  PRD.md
  discovery/OPEN_QUESTIONS.md
  discovery/SPEC.md
  discovery/STATE.md
  discovery/archive/DECISIONS.md
  discovery/archive/ITERATIONS.md
  discovery/archive/RESEARCH.md
  discovery/archive/REVISIONS.md
Due: none

docs: update codebase documents for Phase 2 completion
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
  specs/001-vibetea/tasks.md
Due: none

docs: mark T030 complete, fix T013 note
  specs/001-vibetea/tasks.md
Due: none

fix(ci): correct Rust toolchain action name
  .github/workflows/ci.yml
Due: none

style: apply rustfmt formatting
  .claude/.claude-powerline.json
  monitor/src/config.rs
  monitor/src/types.rs
  server/src/config.rs
  server/src/error.rs
  server/src/types.rs
  specs/001-vibetea/tasks.md
Due: rust-fmt, rust-clippy

fix(ci): update ESLint to v9 flat config and fix test parallelism
  .github/workflows/ci.yml
  client/.eslintrc.cjs
  client/eslint.config.js
  client/package.json
  client/pnpm-lock.yaml
  client/vite.config.js
Due: none

style: fix prettier formatting in index.css
  client/src/index.css
Due: client-format

test(client): add initial event type tests
  client/src/__tests__/events.test.ts
Due: client-lint, client-typecheck, client-format

docs: mark Phase 2 as complete
  specs/001-vibetea/tasks.md
Due: none

feat(server): add Ed25519 signature verification
  server/src/auth.rs
  server/src/lib.rs
Due: rust-fmt, rust-clippy

feat(server): add event broadcast channel
  server/src/broadcast.rs
Due: rust-fmt, rust-clippy

feat(server): add per-source rate limiting
  server/src/rate_limit.rs
Due: rust-fmt, rust-clippy

feat(server): add token validation for WebSocket clients
  Cargo.lock
  Cargo.toml
  server/Cargo.toml
  server/src/auth.rs
Due: rust-fmt, rust-clippy

feat(server): add HTTP routes (POST /events, GET /ws, GET /health)
  server/src/lib.rs
  server/src/routes.rs
Due: rust-fmt, rust-clippy

feat(server): implement main entry point with graceful shutdown
  server/src/main.rs
Due: rust-fmt, rust-clippy

test(server): add unsafe mode integration tests
  server/tests/unsafe_mode_test.rs
Due: rust-fmt, rust-clippy

docs: update codebase documents for Phase 3
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
Due: none

docs: finalize phase 3 retro and add critical learnings
  CLAUDE.md
  specs/001-vibetea/retro/P3.md
  specs/001-vibetea/tasks.md
Due: none

chore: mark phase 3 completion tasks done
  specs/001-vibetea/tasks.md
Due: none

feat(monitor): add JSONL file watcher with position tracking
  Cargo.lock
  monitor/Cargo.toml
  monitor/src/lib.rs
  monitor/src/watcher.rs
Due: rust-fmt, rust-clippy

feat(monitor): add Claude Code JSONL parser with session detection
  monitor/src/parser.rs
Due: rust-fmt, rust-clippy

chore: update Phase 4 progress tracking
  specs/001-vibetea/retro/P4.md
  specs/001-vibetea/tasks.md
Due: none

chore: update codebase documents for phase 4
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
  specs/001-vibetea/retro/P4.md
Due: none

chore: mark phase 4 document tasks complete
  specs/001-vibetea/tasks.md
Due: none

feat(monitor): add privacy pipeline for data stripping
  monitor/src/lib.rs
  monitor/src/privacy.rs
  specs/001-vibetea/retro/P5.md
Due: rust-fmt, rust-clippy

test(monitor): add privacy compliance integration tests
  monitor/tests/privacy_test.rs
Due: rust-fmt, rust-clippy

chore: update codebase documents for phase 5
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

chore: finalize phase 5 retro and mark tasks complete
  specs/001-vibetea/retro/P5.md
  specs/001-vibetea/tasks.md
Due: none

feat(monitor): add Ed25519 keypair generation and signing
  monitor/src/crypto.rs
Due: rust-fmt, rust-clippy

feat(monitor): add HTTP sender with retry and buffering
  monitor/src/sender.rs
Due: rust-fmt, rust-clippy

feat(monitor): implement CLI with init and run commands
  monitor/src/lib.rs
  monitor/src/main.rs
  specs/001-vibetea/retro/P6.md
Due: rust-fmt, rust-clippy

chore: update codebase documents for phase 6
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
  specs/001-vibetea/retro/P6.md
  specs/001-vibetea/tasks.md
Due: none

feat(client): add useWebSocket hook with exponential backoff
  client/src/hooks/useWebSocket.ts
Due: client-lint, client-typecheck, client-format

feat(client): add ConnectionStatus component
  client/src/components/ConnectionStatus.tsx
Due: client-lint, client-typecheck, client-format

feat(client): add TokenForm component for authentication
  client/src/components/TokenForm.tsx
Due: client-lint, client-typecheck, client-format

chore: update codebase documents for phase 7
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

chore: finalize phase 7 retro and mark tasks complete
  specs/001-vibetea/retro/P7.md
  specs/001-vibetea/tasks.md
Due: none
