Repository aaronbassett/VibeTea: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

rust-fmt:
  run: cargo fmt --check
  stage_fixed: true

rust-clippy:
  run: cargo clippy --all-targets -- -D warnings

client-lint:
  run: cd client && pnpm lint

client-typecheck:
  run: cd client && pnpm typecheck

client-format:
  run: cd client && pnpm format:check

fix: remove unused Debouncer import in todo_tracker tests
  monitor/src/trackers/todo_tracker.rs
Due: rust-fmt, rust-clippy

ci: create vibetea-monitor composite action
  .github/actions/vibetea-monitor/action.yml
  specs/004-monitor-gh-actions/tasks.md
Due: none

docs: add reusable GitHub Action usage examples to README
  README.md
  specs/004-monitor-gh-actions/tasks.md
Due: none

docs: mark phase 6 completion tasks done
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

test(client): add unit tests for useHistoricData hook
  client/src/__tests__/hooks/useHistoricData.test.tsx
  specs/001-supabase-persistence/tasks.md
Due: client-lint, client-typecheck, client-format

docs: initialize phase 7 retro
  retro/P7.md
Due: none

docs: update codebase documents for phase 6
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
  specs/004-monitor-gh-actions/tasks.md
Due: none

docs: finalize phase 6 retrospective
  retro/P6.md
  specs/004-monitor-gh-actions/tasks.md
Due: none

docs(sdd): update codebase documents for phase 5
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
  specs/001-supabase-persistence/tasks.md
Due: none

chore(retro): finalize phase 5 retrospective
  CLAUDE.md
  retro/P5.md
  specs/001-supabase-persistence/tasks.md
Due: none

test: add file_history_tracker tests (T148, T149, T150)
  monitor/src/trackers/file_history_tracker.rs
  monitor/src/trackers/mod.rs
Due: rust-fmt, rust-clippy

docs: mark phase 6 completion tasks as done
  specs/004-monitor-gh-actions/tasks.md
Due: none

build: add similar crate dependency for line diffs
  monitor/Cargo.toml
Due: none

docs: initialize phase 7 retrospective
  retro/P7.md
  specs/004-monitor-gh-actions/tasks.md
Due: none

chore: verify lint and format compliance
  specs/004-monitor-gh-actions/tasks.md
Due: none

fix(ci): fix formatting and package manager issues
  client/package-lock.json
  client/pnpm-lock.yaml
  specs/001-supabase-persistence/tasks.md
  supabase/functions/query/index.test.ts
Due: none

test: verify all tests pass (165 unit, 54 integration, 25 doc)
  specs/004-monitor-gh-actions/tasks.md
Due: none

fix(test): remove unused waitFor import
  client/src/__tests__/hooks/useHistoricData.test.tsx
Due: client-lint, client-typecheck, client-format

docs: validate quickstart.md scenarios
  specs/004-monitor-gh-actions/tasks.md
Due: none

docs: verify codebase documents current (no drift)
  specs/004-monitor-gh-actions/tasks.md
Due: none

style(client): apply prettier formatting
  client/src/__tests__/hooks/useHistoricData.test.tsx
  client/src/hooks/useEventStore.ts
  client/src/mocks/handlers.ts
Due: client-lint, client-typecheck, client-format

docs: finalize phase 7 retrospective
  retro/P7.md
  specs/004-monitor-gh-actions/tasks.md
Due: none

feat: implement file_history_tracker module with directory watching
  monitor/src/trackers/file_history_tracker.rs
Due: rust-fmt, rust-clippy

docs: mark all Phase 7 tasks complete
  specs/004-monitor-gh-actions/tasks.md
Due: none

feat: wire file_history_tracker to main event loop
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

chore(tasks): mark Phase 5 complete
  specs/001-supabase-persistence/tasks.md
Due: none

docs: update phase 7 retro with implementation learnings
  Cargo.lock
  retro/P7.md
Due: none

docs: mark phase 7 implementation tasks done
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

style: format file_history_tracker with rustfmt
  monitor/src/trackers/file_history_tracker.rs
Due: rust-fmt, rust-clippy

docs: mark phase 7 completion tasks done
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

docs: initialize phase 8 retro for session metrics
  retro/P8.md
Due: none

feat: add SessionMetricsEvent emission to stats_tracker
  monitor/src/main.rs
  monitor/src/trackers/mod.rs
  monitor/src/trackers/stats_tracker.rs
Due: rust-fmt, rust-clippy

docs: mark phase 8 implementation tasks done
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

docs: update codebase documents for phase 8
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

docs: finalize phase 8 retro
  retro/P8.md
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

docs: mark phase 8 completion tasks done
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

docs: mark T117 complete - all implementation tasks done
  specs/004-monitor-gh-actions/tasks.md
Due: none

chore(retro): initialize phase 6 retrospective
  specs/001-supabase-persistence/retro/P6.md
  specs/001-supabase-persistence/tasks.md
Due: none

feat(client): add persistence feature detection helper
  client/src/utils/persistence.ts
  specs/001-supabase-persistence/tasks.md
Due: client-lint, client-typecheck, client-format

docs: initialize phase 9 retro
  specs/005-monitor-enhanced-tracking/retro/P9.md
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-clippy: any of: *.rs
  client-lint: any of: *.{ts,tsx} and ^client/
  client-typecheck: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx,css} and ^client/
