Repository aaronbassett/VibeTea: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --check
      stage_fixed: true

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings

    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm lint

    client-typecheck:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm typecheck

    client-format:
      root: "client/"
      glob: "*.{ts,tsx,css}"
      run: cd client && pnpm format:check

pre-push:
  parallel: true
  commands:
    rust-test:
      glob: "*.rs"
      run: cargo test

    client-test:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm test

feat: add ActivityPatternEvent emission to stats_tracker
  monitor/src/main.rs
  monitor/src/trackers/stats_tracker.rs
Due: rust-fmt, rust-clippy

feat(client): implement heatmap historic data integration
  client/src/components/Heatmap.tsx
  specs/001-supabase-persistence/tasks.md
Due: client-lint, client-typecheck, client-format

docs: initialize phase 10 retro
  specs/005-monitor-enhanced-tracking/retro/P10.md
Due: none

feat: add ModelDistributionEvent emission to stats_tracker
  monitor/src/main.rs
  monitor/src/trackers/stats_tracker.rs
Due: rust-fmt, rust-clippy

docs: mark phase 9 and 10 implementation tasks done
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

docs: finalize phase 9 and 10 retros
  specs/005-monitor-enhanced-tracking/retro/P10.md
  specs/005-monitor-enhanced-tracking/retro/P9.md
Due: none

docs: update codebase documents for phases 9 and 10
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/TESTING.md
Due: none

docs: mark phase 9 and 10 codebase mapping tasks done
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

docs: mark phase 9 and 10 completion tasks done
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

test(client): add comprehensive Heatmap component tests
  client/src/__tests__/components/Heatmap.test.tsx
  specs/001-supabase-persistence/tasks.md
Due: client-lint, client-typecheck, client-format

docs: update codebase documents for phases 9-10
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

docs: initialize phase 11 retro
  specs/005-monitor-enhanced-tracking/retro/P11.md
  specs/005-monitor-enhanced-tracking/tasks.md
Due: none

test(monitor): add project_tracker unit tests
  monitor/src/trackers/mod.rs
  monitor/src/trackers/project_tracker.rs
  specs/005-monitor-enhanced-tracking/tasks.md
Due: rust-fmt, rust-clippy

docs(codebase): update codebase documents for phase 6
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
  specs/001-supabase-persistence/tasks.md
Due: none

chore(retro): finalize phase 6 retrospective
  specs/001-supabase-persistence/retro/P6.md
  specs/001-supabase-persistence/tasks.md
Due: none

chore(tasks): mark Phase 6 complete
  specs/001-supabase-persistence/tasks.md
Due: none

feat(client): generate initial ASCII art asset
  client/src/assets/ascii/vibetea-logo.ts
Due: client-lint, client-typecheck, client-format

chore(client): configure prebuild script for ASCII generation
  client/package.json
Due: none

feat(client): add ASCII art generation script
  client/scripts/generate-ascii.mjs
Due: none

chore(client): add figlet build dependency
  client/package-lock.json
  client/package.json
Due: none

docs: add specs for 5 new features
  specs/004-monitor-gh-actions/tasks.md
Due: none

feat(client): add design tokens constants
  client/src/constants/design-tokens.ts
Due: client-lint, client-typecheck, client-format

feat(client): add animation and charting dependencies
  client/package-lock.json
  client/package.json
Due: none

feat(client): add CSS animation keyframes
  client/src/styles/animations.css
Due: client-format

chore(client): create new component directory structure
  client/src/components/animated/.gitkeep
  client/src/components/graphs/.gitkeep
Due: none

docs(tasks): mark Phase 1 tasks as complete
  specs/002-client-frontend-redesign/tasks.md
Due: none

fix(client): update pnpm-lock.yaml for new dependencies
  client/pnpm-lock.yaml
Due: none

chore: add ralph.toml to gitignore
  .gitignore
Due: none

fix(client): add eslint globals for node script
  client/scripts/generate-ascii.mjs
Due: none

style(client): format design tokens and animations
  client/src/constants/design-tokens.ts
  client/src/styles/animations.css
Due: client-lint, client-typecheck, client-format

feat(client): import CSS animations
  client/src/main.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

docs: initialize phase 2 retro
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): configure LazyMotion provider
  client/src/App.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

feat(client): add AnimationErrorBoundary component
  client/src/components/animated/ErrorBoundary.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

feat(client): add animation utility hooks
  client/src/hooks/useAnimationThrottle.ts
  client/src/hooks/usePageVisibility.ts
  client/src/hooks/useReducedMotion.ts
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

docs(tasks): mark Phase 2 complete
  specs/002-client-frontend-redesign/tasks.md
Due: none

style(client): format App.tsx and ErrorBoundary
  client/src/App.tsx
  client/src/components/animated/ErrorBoundary.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

docs: finalize phase 2 retrospective
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): add SpringContainer animated wrapper
  client/src/components/animated/SpringContainer.tsx
Due: client-lint, client-typecheck, client-format
