Repository aaronbassett/VibeTea: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --check
      stage_fixed: true

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings

    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm lint

    client-typecheck:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm typecheck

    client-format:
      root: "client/"
      glob: "*.{ts,tsx,css}"
      run: cd client && pnpm format:check

pre-push:
  parallel: true
  commands:
    rust-test:
      glob: "*.rs"
      run: cargo test

    client-test:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm test

feat(server): add session store, Supabase client, and auth errors
  Cargo.lock
  server/Cargo.toml
  server/src/error.rs
  server/src/lib.rs
  server/src/session.rs
  server/src/supabase.rs
Due: rust-fmt, rust-clippy

test(server): add auth privacy compliance tests
  server/tests/auth_privacy_test.rs
Due: rust-fmt, rust-clippy

style: apply code formatting
  client/src/services/supabase.ts
  server/src/config.rs
  server/src/error.rs
  server/src/session.rs
  server/src/supabase.rs
  server/tests/auth_privacy_test.rs
Due: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

docs: update codebase documents for phase 2
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

docs: finalize phase 2 retrospective
  specs/002-supabase-auth/retro/P2.md
Due: none

feat(client): add auth hook and page components
  client/src/hooks/useAuth.ts
  client/src/pages/Dashboard.tsx
  client/src/pages/Login.tsx
Due: client-lint, client-typecheck, client-format

feat(client): add auth routing to App.tsx
  client/src/App.tsx
Due: client-lint, client-typecheck, client-format

feat(client): update TokenForm to show Supabase session
  client/src/components/TokenForm.tsx
Due: client-lint, client-typecheck, client-format

docs: update codebase documents for phase 3
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
Due: none

docs: finalize phase 3 retrospective
  specs/002-supabase-auth/retro/P3.md
Due: none

style: apply code formatting
  client/src/pages/Login.tsx
Due: client-lint, client-typecheck, client-format

test(client): update App tests for auth routing
  client/src/__tests__/App.test.tsx
Due: client-lint, client-typecheck, client-format

fix(test): add missing Session type fields in test mocks
  client/src/__tests__/App.test.tsx
Due: client-lint, client-typecheck, client-format

fix(client): add reduced-motion support to App loading state
  client/src/App.tsx
Due: client-lint, client-typecheck, client-format

ci: add placeholder Supabase env vars for Lighthouse CI
  .github/workflows/ci.yml
Due: none

ci(client): lower Lighthouse performance threshold to 60%
  client/lighthouserc.cjs
Due: none

docs: update phase 3 retro with CI fix learnings
  specs/002-supabase-auth/retro/P3.md
Due: none
