Repository aaronbassett/VibeTea: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --check
      stage_fixed: true

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings

    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm lint

    client-typecheck:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm typecheck

    client-format:
      root: "client/"
      glob: "*.{ts,tsx,css}"
      run: cd client && pnpm format:check

pre-push:
  parallel: true
  commands:
    rust-test:
      glob: "*.rs"
      run: cargo test

    client-test:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm test

fix: resolve lint and formatting issues
  client/src/components/TokenForm.tsx
  monitor/src/sender.rs
Due: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

fix: formatting consistency for CI
  client/src/components/TokenForm.tsx
  monitor/src/main.rs
Due: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

fix(monitor): use contains() for range check in test
  monitor/src/sender.rs
Due: rust-fmt, rust-clippy

chore: mark phase 7 complete
  specs/001-vibetea/tasks.md
Due: none

feat(client): add EventStream component with virtual scrolling and formatting utilities
  client/src/__tests__/formatting.test.ts
  client/src/components/EventStream.tsx
  client/src/utils/formatting.ts
  specs/001-vibetea/retro/P8.md
  specs/001-vibetea/tasks.md
Due: client-lint, client-typecheck, client-format

docs: update codebase documents for phase 8
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/STRUCTURE.md
  .sdd/codebase/TESTING.md
  specs/001-vibetea/retro/P8.md
  specs/001-vibetea/tasks.md
Due: none

chore: mark phase 8 codebase mapping tasks complete
  specs/001-vibetea/tasks.md
Due: none

chore: update phase 8 task completion status
  specs/001-vibetea/tasks.md
Due: none

feat(client): add Activity Heatmap component with color scale and accessibility
  client/src/components/Heatmap.tsx
  specs/001-vibetea/retro/P9.md
  specs/001-vibetea/tasks.md
Due: client-lint, client-typecheck, client-format

docs: update codebase documents for phase 9
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/STACK.md
  .sdd/codebase/TESTING.md
  specs/001-vibetea/tasks.md
Due: none

chore: mark phase 9 task completion status
  specs/001-vibetea/tasks.md
Due: none

chore: update phase 9 completion tracking
  specs/001-vibetea/tasks.md
Due: none

feat(client): add session state machine with timeout logic
  client/src/App.tsx
  client/src/hooks/useEventStore.ts
  client/src/hooks/useSessionTimeouts.ts
Due: client-lint, client-typecheck, client-format

feat(client): add SessionOverview component with activity indicators
  client/src/components/SessionOverview.tsx
  client/src/index.css
Due: client-lint, client-typecheck, client-format

docs: update codebase documents for phase 10
  .sdd/codebase/ARCHITECTURE.md
  .sdd/codebase/CONCERNS.md
  .sdd/codebase/CONVENTIONS.md
  .sdd/codebase/INTEGRATIONS.md
  .sdd/codebase/SECURITY.md
  .sdd/codebase/STACK.md
  .sdd/codebase/TESTING.md
  specs/001-vibetea/retro/P10.md
  specs/001-vibetea/tasks.md
Due: none

chore: mark phase 10 completion status
  specs/001-vibetea/tasks.md
Due: none

style(client): fix prettier formatting issues
  client/src/components/SessionOverview.tsx
  client/src/index.css
Due: client-lint, client-typecheck, client-format

feat(monitor): implement file watcher and parser pipeline
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

fix(server): prevent event source impersonation and DoS
  server/Cargo.toml
  server/src/routes.rs
Due: rust-fmt, rust-clippy

fix(tests): serialize env-mutating config tests
  monitor/src/config.rs
  server/src/config.rs
Due: rust-fmt, rust-clippy

fix(monitor): prevent sender panics and fix buffer allocation
  monitor/src/sender.rs
Due: rust-fmt, rust-clippy

fix(test): align source IDs in rate limiting test
  server/tests/unsafe_mode_test.rs
Due: rust-fmt, rust-clippy

refactor(monitor): replace manual CLI parsing with clap
  monitor/Cargo.toml
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

chore: update Cargo.lock for new dependencies
  Cargo.lock
Due: none

feat(client): integrate dashboard UI components
  client/src/App.tsx
Due: client-lint, client-typecheck, client-format

fix(monitor): improve session ID stability and event semantics
  Cargo.lock
  Cargo.toml
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

refactor(monitor): use async processing in file watcher
  monitor/src/watcher.rs
Due: rust-fmt, rust-clippy

fix(monitor): validate buffer_size > 0 in config
  monitor/src/config.rs
Due: rust-fmt, rust-clippy

feat(monitor): add payload chunking to sender
  monitor/src/sender.rs
Due: rust-fmt, rust-clippy

feat(client): add event stream filtering by session and time range
  client/src/App.tsx
  client/src/components/EventStream.tsx
  client/src/components/SessionOverview.tsx
  client/src/hooks/useEventStore.ts
  client/src/hooks/useWebSocket.ts
Due: client-lint, client-typecheck, client-format

fix(monitor): coalesce file events when channel is full
  monitor/src/watcher.rs
Due: rust-fmt, rust-clippy

fix(monitor): handle oversized events in chunking
  monitor/src/sender.rs
Due: rust-fmt, rust-clippy

test(client): add App component tests for token handling
  client/package.json
  client/pnpm-lock.yaml
  client/src/__tests__/App.test.tsx
  client/vite.config.ts
Due: client-lint, client-typecheck, client-format

fix(monitor): handle 413 to prevent oversized events from blocking sender
  monitor/src/sender.rs
Due: rust-fmt, rust-clippy

fix(monitor): coalesce FileRemoved events when channel is full
  monitor/src/watcher.rs
Due: rust-fmt, rust-clippy

test(monitor): add integration tests for oversized event recovery
  Cargo.toml
  monitor/Cargo.toml
  monitor/tests/sender_recovery_test.rs
Due: rust-fmt, rust-clippy

fix(monitor): make retry policy injectable and add FileRemoved coalescing tests
  Cargo.lock
  monitor/src/lib.rs
  monitor/src/sender.rs
  monitor/src/watcher.rs
  monitor/tests/sender_recovery_test.rs
Due: rust-fmt, rust-clippy

fix(monitor): validate RetryPolicy and prevent Retry-After overflow
  monitor/src/sender.rs
Due: rust-fmt, rust-clippy

fix(monitor): use saturating_mul for backoff and handle NaN jitter_factor
  monitor/src/sender.rs
Due: rust-fmt, rust-clippy

style(monitor): fix formatting in sender.rs
  monitor/src/sender.rs
Due: rust-fmt, rust-clippy
