Repository aaronbassett/VibeTea: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, client-lint, client-typecheck, client-format

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --check
      stage_fixed: true

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings

    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm lint

    client-typecheck:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm typecheck

    client-format:
      root: "client/"
      glob: "*.{ts,tsx,css}"
      run: cd client && pnpm format:check

pre-push:
  parallel: true
  commands:
    rust-test:
      glob: "*.rs"
      run: cargo test

    client-test:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: cd client && pnpm test

docs(tasks): complete Phase 4 checkpoint
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): integrate graphs into main dashboard
  client/src/App.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

docs(claude): add client frontend redesign feature summary
  specs/002-client-frontend-redesign/tasks.md
Due: none

docs(tasks): mark warm palette task complete
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): add SessionCardAnimationState interface
  client/src/components/SessionOverview.tsx
Due: client-lint, client-typecheck, client-format

feat(client): add graph component stories
  client/src/components/graphs/ActivityGraph.stories.tsx
  client/src/components/graphs/EventDistributionChart.stories.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

feat(client): initialize Storybook with Vite builder
  .gitignore
  client/.storybook/main.ts
  client/.storybook/preview.ts
  client/package.json
  client/pnpm-lock.yaml
  client/src/stories/Button.stories.ts
  client/src/stories/Button.tsx
  client/src/stories/Configure.mdx
  client/src/stories/Header.stories.ts
  client/src/stories/Header.tsx
  client/src/stories/Page.stories.ts
  client/src/stories/Page.tsx
  client/src/stories/assets/accessibility.png
  client/src/stories/assets/accessibility.svg
  client/src/stories/assets/addon-library.png
  client/src/stories/assets/assets.png
  client/src/stories/assets/avif-test-image.avif
  client/src/stories/assets/context.png
  client/src/stories/assets/discord.svg
  client/src/stories/assets/docs.png
  client/src/stories/assets/figma-plugin.png
  client/src/stories/assets/github.svg
  client/src/stories/assets/share.png
  client/src/stories/assets/styling.png
  client/src/stories/assets/testing.png
  client/src/stories/assets/theming.png
  client/src/stories/assets/tutorials.svg
  client/src/stories/assets/youtube.svg
  client/src/stories/button.css
  client/src/stories/header.css
  client/src/stories/page.css
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

feat(client): add skeleton loaders and context-aware empty states
  client/src/components/EventStream.tsx
  client/src/components/Heatmap.tsx
  client/src/components/SessionOverview.tsx
  client/src/components/graphs/ActivityGraph.tsx
  client/src/components/graphs/EventDistributionChart.tsx
  client/src/components/skeletons/index.tsx
  client/src/types/graphs.ts
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

feat(client): add animated background to dashboard view
  client/src/App.tsx
Due: client-lint, client-typecheck, client-format

docs(tasks): complete phase 11 checkpoint
  specs/002-client-frontend-redesign/retro/P11.md
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): add spring status transition animations to session cards
  client/src/components/SessionOverview.tsx
Due: client-lint, client-typecheck, client-format

docs(retro): verify NFR-001 bundle size compliance
  specs/002-client-frontend-redesign/retro/P11.md
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): add EventDistributionChart component
  client/src/components/graphs/EventDistributionChart.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

docs(retro): initialize phase 8 retrospective
  retro/P8.md
  specs/002-client-frontend-redesign/tasks.md
Due: none

docs(tasks): mark Phase 4 complete
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): configure Storybook for Tailwind 4 and framer-motion
  client/.storybook/main.ts
  client/.storybook/preview.ts
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

style(client): fix ConnectionStatus formatting
  client/src/components/ConnectionStatus.tsx
Due: client-lint, client-typecheck, client-format

style(client): format SessionOverview.tsx with prettier
  client/src/components/SessionOverview.tsx
Due: client-lint, client-typecheck, client-format

docs(retro): initialize phase 9 retrospective
  specs/002-client-frontend-redesign/retro/P9.md
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): add accessibility layer to graph components
  client/src/components/graphs/ActivityGraph.tsx
  client/src/components/graphs/EventDistributionChart.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

docs(retro): finalize phase 10 retrospective
  specs/002-client-frontend-redesign/retro/P10.md
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): add graph data type interfaces
  client/src/types/graphs.ts
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

feat(client): add animated glowing border to active sessions
  client/src/components/SessionOverview.tsx
  client/src/styles/animations.css
Due: client-lint, client-typecheck, client-format

docs(retro): finalize phase 7 retrospective
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): implement event stream entrance animations
  client/src/components/EventStream.tsx
Due: client-lint, client-typecheck, client-format

feat(client): add connected pulse animation
  client/src/components/ConnectionStatus.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

docs(tasks): mark Phase 7 implementation complete
  specs/002-client-frontend-redesign/tasks.md
Due: none

style(client): fix ActivityGraph formatting
  client/src/components/graphs/ActivityGraph.tsx
Due: client-lint, client-typecheck, client-format

feat(client): add hover effects to session cards
  client/src/components/SessionOverview.tsx
Due: client-lint, client-typecheck, client-format

feat(client): add enhanced component stories
  client/src/components/ConnectionStatus.stories.tsx
  client/src/components/EventStream.stories.tsx
  client/src/components/Heatmap.stories.tsx
  client/src/components/SessionOverview.stories.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

docs(tasks): complete Phase 8 checkpoint
  specs/002-client-frontend-redesign/tasks.md
Due: none

feat(client): add connecting ring animation
  client/src/components/ConnectionStatus.tsx
  specs/002-client-frontend-redesign/tasks.md
Due: client-lint, client-typecheck, client-format

feat(monitor): implement project_tracker module
  monitor/src/trackers/project_tracker.rs
Due: rust-fmt, rust-clippy

feat(monitor): wire project_tracker to main event loop
  monitor/src/main.rs
Due: rust-fmt, rust-clippy

style(monitor): fix formatting in stats_tracker test
  monitor/src/trackers/stats_tracker.rs
Due: rust-fmt, rust-clippy

fix(client): add node globals for config files and exclude storybook-static from lint
  client/eslint.config.js
Due: none

fix(client): correct ESLint config order for Node.js globals
  client/eslint.config.js
Due: none

style(client): fix prettier formatting issues
  client/src/App.tsx
  client/src/components/Heatmap.tsx
  client/src/components/animated/AnimatedBackground.tsx
Due: client-lint, client-typecheck, client-format

fix(client): rename lighthouserc.js to .cjs for CommonJS compatibility
  client/lighthouserc.cjs
Due: none
